.games-box {
    flex           : 0 0 31%;
    height         : 220px;
    background     : $box-color;
    border-radius  : 20px;
    display        : flex;
    flex-direction : column;
    justify-content: center;
    align-items    : center;
    box-shadow     : $box-shadow;
    transition     : none;
    text-decoration: none;
    margin-top     : 20px;

    @include for-phone-only {
        height: 170px;
    }

    &__image {
        max-width : 64px;
        max-height: 64px;
        object-fit: contain;


        @include for-phone-only {
            max-width : 46px;
            max-height: 46px;
        }
    }

    &__title {
        color         : $light-grey;
        font-size     : 18px;
        letter-spacing: -1px;
        font-weight   : 300;
        text-align    : center;

        @include for-phone-only {
            font-size: 16px;
        }
    }

    &__count {
        color      : $light-grey;
        font-size  : 36px;
        font-weight: bold;

        @include for-phone-only {
            font-size: 24px;
        }
    }

    &:hover {
        background-color: lighten($color: $box-color, $amount: 15%);
        cursor          : pointer;
        text-decoration : none;
    }

    @include for-phone-only {}

}