.casino-list2 {
    margin       : 25px 0;
    display        : flex;
    flex-wrap      : wrap;
    justify-content: space-evenly;
    counter-reset: section;

    .base-style2 {
        box-shadow      : 0 0 8px 0 rgb(0 0 0 / 10%), 0 0 5px 4px rgb(0 0 0 / 10%);
        background-color: rgba(255, 255, 255, 0.65);
        flex-wrap       : wrap;
        align-items     : center;
        max-width       : 255px;
        padding         : 10px 20px;
        margin-bottom   : 20px !important;
        position        : relative;
        height          : 350px !important;


        display: grid;
        width: 100%;
        justify-content: center;
        border-radius: 8%;
        transform: scale(1.00);
        transition: 0.3s;

        @include for-phone-only {
            flex-direction: column;
            height        : initial;
        }

        &>* {
            height: 100%;
            flex  : 0 0 20%;
        }
    }

    &__order2 {
        position        : absolute;
        top             : 0;
        left            : 0;
        background-color: $light-grey;
        color           : $dark-grey;
        height          : initial !important;
        padding         : 10px;
        border-top-left-radius: 45%;

        &:before {
            counter-increment: listcounter;
            font-weight      : bold;
            counter-increment: section;
            content: counter(section);
        }
    }

    &__logo2 {
        display        : flex;
        justify-content: center;
        align-items    : center;
        transform      :scale(1.00);
        transition     :0.4s;

        &:hover {
            transform  :scale(1.30);
            transition :0.4s;
        }

        img {
            max-width : 200px;
            height    : 80px;
            object-fit: contain;
        }
    }

    &__bonus2 {
        display        : flex;
        justify-content: center;
        align-items    : center;
        text-align     : center;
        font-size      : 18px;
        font-weight    : 600;

        @include for-phone-only {
            text-align: center;
        }

        span {
            display    : contents;
            font-weight: bold;
            color      : $cta-green;
        }
    }

    &__rating2 {
        display        : flex;
        flex-direction : column;
        align-items    : center;
        justify-content: space-evenly;

        .casino-name2 {
            font-weight   : bold;
            text-transform: uppercase;
            font-size     : 14px;
        }

        .star-rating2 {
            background-color: white;
            width           : 45px;
            height          : 45px;
            border-radius   : 50%;
            border          : 3px solid $secondary-color;
            display         : grid;
            place-items     : center;
            box-shadow      : 0 0 6px 0 rgba(255, 210, 0, 0.5);

            i {
                font-size: 16px;
                color    : $secondary-color;
            }
        }

        .casino-rating2 {
            font-weight: bold;
            font-size  : 16px;
        }
    }

    &__pluses2 {
        display       : flex;
        flex-direction: column;
        align-items   : left;
        font-weight   : 300;
        font-size     : 14px;

        @include for-phone-only {
            font-size: 16px;
        }

        .plus2 {
            flex       : 0 0 32.5%;
            display    : flex;
            align-items: center;

            @include for-phone-only {
                margin-bottom: 10px;
            }
        }

        i {
            font-size   : 10px;
            color       : $cta-green;
            margin-right: 5px;
        }
    }

    &__more2 {
        display        : flex;
        flex-direction : column;
        justify-content: space-evenly;
        align-items    : center;
        padding-bottom: 12px;

        .list-review2 {
            color          : $text-color;
            font-size      : 14px;
            text-decoration: none;

            @include for-phone-only {
                margin-bottom: 10px;
            }

            i {
                color    : $cta-green;
                font-size: 12px;
            }

            &:hover {
                cursor         : pointer;
                text-decoration: underline;
            }
        }

        .to-the-casino2 {
            text-decoration : none;
            color           : $white;
            text-transform  : uppercase;
            font-size       : 14px;
            background-color: $cta-green;
            padding         : 10px 30px;
            border-radius: 15px;

            &:hover {
                background-color: lighten($color: $cta-green, $amount: 10%);
            }
        }
    }

    &__terms2 {
        position        : absolute;
        text-align      : center;
        bottom          : -10px;
        left            : 0;
        width           : 100%;
        height          : initial !important;
        background-color: #f4f4f4;
        font-size       : 10px;
        color           : #959595;
        border-bottom-left-radius   : 20px;
        border-bottom-right-radius  : 20px;

        @include for-phone-only {
            bottom      : -20px;
            text-align  : center;
            padding-bottom: 6px;
            bottom      : -5px;
        }
        @media (max-width: 815px) {
            text-align  : center;
            padding-bottom: 6px;
            bottom      : 0px;
        }
        @media (max-width: 599px) {
            text-align  : center;
            bottom      : 0px;
        }

        i {
            margin-right: 5px;
        }
    }
}

@media (max-width: 1000px) {
	.casino-list2 {
    margin-left: 20px;
}
    .base-style2 {
        max-width: 250px;
    }
}

@media (max-width: 815px) {
	.casino-list2 {
    margin-right: 0px !important;
    }
    .base-style2 {
        max-width: 230px;
    }
}

@media (max-width: 750px) {
	.casino-list2 {
    margin-right: 0px !important;
    }
    .base-style2 {
        max-width: 220px;
    }
}

@media (max-width: 650px) { 
    .base-style2 {
       max-width: 450px !important;
    }
    .casino-list2__bonus2 {
        font-size: 26px;
    }
}
    

    .casino-list2 .base-style2:hover {
        --borderWidth: 2px;
        transform: scale(1.05);
        transition: .3s;
        background:white;
        position: relative;
        border-radius: 8%;
        box-shadow: 0 0 15px 0 rgb(0 0 0 / 25%);
      }
    //   .casino-list2 .base-style2:hover{
    //   :after {
    //     content: '';
    //     position: absolute;
    //     top: calc(-1 * var(--borderWidth));
    //     left: calc(-1 * var(--borderWidth));
    //     height: calc(100% + var(--borderWidth) * 2);
    //     width: calc(100% + var(--borderWidth) * 2);
    //     background: linear-gradient(60deg, #f3c016, #f37c64, #ff0048, #c40ee4, #105efc, #05d5f5, #00ffdd, #00ff40);
    //     border-radius: calc(2 * var(--borderWidth));
    //     z-index: -1;
    //     animation: animatedgradient 3s ease alternate infinite;
    //     background-size: 300% 300%;
    //   }
    // }
      
      
      @keyframes animatedgradient {
          0% {
              background-position: 0% 50%;
          }
          50% {
              background-position: 100% 50%;
          }
          100% {
              background-position: 0% 50%;
          }
      }
      
      