// -----------------------------------------------------------------------------
// This file contains all @font-face declarations, if any.
// -----------------------------------------------------------------------------

// @font-face {
//     font-family: Open Sans;
//     src: url();
//     font-weight: normal;
//     font-display: swap;
// }

// @font-face {
//     font-family: Open Sans;
//     src: url(../../../dist/fonts/);
//     font-weight: normal;
//     font-display: swap;
// }
