/**
 * Basic typography style for copy text
 */
body {
  color: $text-color;
  font : normal 16px / 1.6 $text-font-stack;
}

.site-main {
  h2 {
    text-align: center;
    font-size: 20px;
  }

  h3 {
    display: inline-block;
    font-size: 16px;
    font-weight: 400;
    border-bottom: 2px solid $secondary-color;
  }
}